@charset 'utf-8';

html {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
}

body {
    overflow-x: hidden;
    letter-spacing: -0.05em;

}

a {    
    color: white;
    text-decoration: none;
   
}

footer {
    display: flex;
    height: 5em;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 2rem;
   
    background-color:gray;
    color: black;

}

.scroll-section {
    background-color: black;


}

.global-nav
{
    position: absolute;
    z-index: 10;

    width: 100%;
    height: 44px;
    left: 0;
    top: 0;

}

.local-nav
{
    position: absolute;
    z-index: 10;

    width: 100%;
    height: 52px;
    left: 0;
    top: 44px;

}

.global-nav-links {
    display: flex;
    width: 1000px;
    height: 100%;

    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    /* border: 1px solid red; */
}

.local-nav-links {
    display: flex;
    width: 1000px;
    height: 100%;

    justify-content: right;
    align-items: center;

    margin: 0 auto;
    border-bottom: 1px solid gray;
}

.local-nav-product-link {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;

}

.local-nav-link {
    margin-left : 1em;

}


.local-nav-sticky .local-nav {
	position: fixed;
	top: 0;
	background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid gray;
	
	-webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);
}

.local-nav-sticky .local-nav-links {
    border: none;

}

.product-message {
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 4em;
    left: 0;
    top: 250px;



    font-size: 7rem;
    text-align: center;

}


.sticky-element{
    display: none;
    position: fixed;
    width: 100%;

}

.section1-message
{
    opacity: 0;
    font-size: 4rem;
    font-weight: bold;

    width: 100%;
    height: 6rem;
    top: 6em;

    text-align: center;
    
    
}

#show-section0 #section-0 .sticky-element,
#show-section1 #section-1 .sticky-element
{
    display: block;

}

#show-section1 #section-1 .section1-canvas {
    position: fixed;    
    left: 0;
    top:0; 

}


.description {
    
    position: relative;
    font-size: 2rem;
    z-index: 9;

    line-height: 3em;
    color:rgb(175, 175, 175);
    max-width: 1000px;
    margin: 0 auto;

}

.description > strong {
    float: left;
    font-size: 4rem;
    color: white;

    margin-right: 20px;
    
}
